<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!--Description : Activates various annotations to be detected in bean classes: Spring's @Required ...-->
	<context:annotation-config/>

	<bean class="ru.blogspot.feomatr.lab.spring.ripper.quoters.PostProxyInvokerContextListener"/>

	<!--infractructural bean no needs id-->
	<bean class="ru.blogspot.feomatr.lab.spring.ripper.quoters.InjectRandomIntAnnotationBeanPostProcessor"/>

	<bean class="ru.blogspot.feomatr.lab.spring.ripper.quoters.ProfilingHandlerBeanPostProcessor"/>

	<bean class="ru.blogspot.feomatr.lab.spring.ripper.quoters.TerminatorQuoter" id="terminatorQuoter">
		<property name="message" value="I'll be back"/>
	</bean>
</beans>